.single {
    padding: 8px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border: 8px solid #fff;
    transition: .3s;
}

.single:hover{
    border-left:8px solid #4979ff ;
}

.text {
    margin: 20px 0px;
}

.btn {
    padding: 12px;
    border-radius: 10px;
    background: #4979ff;
    color: #fff;
}

.span{
    display: block;
    width: 350px;
    padding: 8px 10px;
    margin: 20px auto;
    text-align: center;
}